:root {
  --bg: #f7f9fa;
  --text: #0d1b2a;
  --card-bg: #fff;
  --card-bg-2: #f1f3f5;
  --accent: #65b89d;
  --border: #e1e4e8;
  --hover-bg: rgba(0, 0, 0, 0.03);
}

[data-theme="dark"] {
  --bg: #121212;
  --text: #e4e4e4 !important;
  --card-bg: #1e1e1e;
  --card-bg-2: #433e3e;
  --accent: #7ee0bb;
  --border: #2a2a2a;
  --hover-bg: rgb(0, 0, 0);
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background 0.3s, color 0.3s;
  margin: 0;
}
