.home-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: #f4f6f5;
  font-family: "Poppins", sans-serif;
}

.home-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
}
