services:
  db:
    image: postgres:16
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./server/schema.sql:/docker-entrypoint-initdb.d/schema.sql

  backend:
    build: ./server
    env_file:
      - .env
    depends_on:
      - db
      - redis
    environment:
      PORT: 3001
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_NAME: ${DB_NAME}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      JWT_SECRET: ${JWT_SECRET}

  frontend:
    build: ./client
    depends_on:
      - backend

  redis:
    image: redis:7-alpine

  proxy:
    image: nginx:1.26-alpine
    env_file:
      - .env
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf.src
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    depends_on:
      - frontend
      - backend
    command:
      - /bin/sh
      - -c
      - |
          envsubst '${DOMAIN}' \
            < /etc/nginx/nginx.conf.src \
            > /etc/nginx/nginx.conf
          exec nginx -g 'daemon off;'

  certbot:
    image: certbot/certbot:latest
    env_file:
      - .env
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    entrypoint: |
      /bin/sh -c '
      echo "Using domain: ${DOMAIN}"

      certbot certonly \
        --webroot -w /var/www/certbot \
        -d "${DOMAIN}" \
        --email "${CERTBOT_EMAIL}" \
        --agree-tos \
        --no-eff-email \
        --non-interactive \
        --keep-until-expiring \
      || (
        echo "Production failed, trying STAGING"
        certbot certonly \
          --staging \
          --webroot -w /var/www/certbot \
          -d "${DOMAIN}" \
          --email "${CERTBOT_EMAIL}" \
          --agree-tos \
          --no-eff-email \
          --non-interactive \
          --keep-until-expiring
      )
      '

volumes:
  db_data:
