apiVersion: v1
kind: Secret
metadata:
  name: fitness-secrets
  namespace: fitness
type: Opaque
stringData:
  POSTGRES_USER: "fitness"
  POSTGRES_PASSWORD: "fitness123"
  POSTGRES_DB: "fitnessdb"
  JWT_SECRET: "change_this_to_a_long_random_secret"
  CERT_EMAIL: "admin@devops-vm-05.lrk.si"
