apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: fitness
spec:
  selector:
    app: backend
  ports:
    - name: http
      port: 5000
      targetPort: 5000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: fitness
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1        # allow 1 extra pod
      maxUnavailable: 0  # never drop below 3 ready
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      terminationGracePeriodSeconds: 20
      containers:
        - name: backend
          image: ghcr.io/acodes3/fitness-backend:latest
          ports:
            - containerPort: 5000
          env:
            - name: PORT
              value: "5000"
            - name: DB_HOST
              value: "postgres"
            - name: DB_PORT
              value: "5432"
            - name: DB_USER
              valueFrom: { secretKeyRef: { name: fitness-secrets, key: POSTGRES_USER } }
            - name: DB_PASS
              valueFrom: { secretKeyRef: { name: fitness-secrets, key: POSTGRES_PASSWORD } }
            - name: DB_NAME
              valueFrom: { secretKeyRef: { name: fitness-secrets, key: POSTGRES_DB } }
            - name: REDIS_HOST
              value: "redis"
            - name: REDIS_PORT
              value: "6379"
            - name: JWT_SECRET
              valueFrom: { secretKeyRef: { name: fitness-secrets, key: JWT_SECRET } }

          readinessProbe:
            httpGet:
              path: /healthz
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 6

          livenessProbe:
            httpGet:
              path: /livez
              port: 5000
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 6
